<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet" />
  <style>
    label {
      font-weight: normal;
    }

    .panel-body .glyphicon-remove {
      display: none;
    }

    .panel-body:hover .glyphicon-remove {
      display: inline-block
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        <h2 class="col-xs-6">记账本</h2>
        <h2 class="col-xs-6 text-right"><a href="/account/create" class="btn btn-primary">添加账单</a></h2>
        <hr />
        <div class="accounts">
          <% accounts.forEach(item=> { %>
            <div class="panel <%= item.type===1 ? 'panel-danger' : 'panel-success'  %>">
              <div class="panel-heading">
                <%= moment(item.time).format('YYYY-MM-DD') %>
              </div>
              <div class="panel-body">
                <div class="col-xs-6">
                  <%= item.title %>
                </div>
                <div class="col-xs-2 text-center">
                  <span class="label <%= item.type===-1 ? 'label-warning' : 'label-success'  %>">
                    <%= item.type===-1 ? '支出' : '收入' %>
                  </span>
                </div>
                <div class="col-xs-2 text-right">
                  <%= item.account %> 元
                </div>
                <div class="col-xs-2 text-right">
                  <a class="dleBtn" href="/account/<%= item.id %>">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </a>
                </div>
              </div>
            </div>
            <% }) %>

        </div>
      </div>
    </div>
  </div>
</body>
<script>
  //防止误操作 处理
  //dom 获取delBtn 相关标签
  let dleBtns = document.querySelectorAll('.dleBtn');

  //对标签的每个列表项 事件绑定
  //变量的事件绑定 用 on('',()=>{})
  //dom树上 标签及列表项的事件绑定 用 addEventListener('',()=>{}) 
  dleBtns.forEach((item) => {
    item.addEventListener('click', (e) => {
      //confirm('弹窗内容')  误操作处理弹窗
      if (confirm('您确定删除该项文档吗?')) {    //默认为 确定
        return true; //true 继续该操作
      } else {//取消  
        e.preventDefault();//阻止事件对象的默认操作
      }
    })
  })
</script>

</html>